      #unread, #read {
        width: 40%;
        background-color: #FFF5F5;
      }
      #unread { 
        float: left; 
        background-color: #FFF5F5;
      }
      #read { 
        float: right; 
        background-color: #FFF5F5;
      }
      
      table, td {
        border-width: 1px;
        border-style: solid;
        border-color: black;
      }
      #wrapper {
        background-color: #000000;
        background-image: "paper.jpg";
        width: 960px;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      body {
        background: "paper.jpg";
        font-family: sans-serif;
        background-color: #1A8B9D;
      }
      h1 {
        background: "paper.jpg";
        font-family: 'Montserrat', sans-serif;
        font-size: 500%;
        color: #B2D430;
      }
      h2 {
        color: white;
        padding: 15px;
        bottom: 15px;
      }
      #results { margin-top: 50px; }
      #userinput { 
        font-size: 24px;
        text-align: center; 
      }
      input {
        width: 50%;
        height: 36px;
        font-size: 24px;
      }
#jumbotron {
  background-image: "./public/paper.jpg";
  width: 100%;
  height: 50%;
}


/*footer {
  position: inherit;
  background: #B2D430;
  width: 100%;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 16rem;
  height: 20px;
}
*/


      
footer {
  position: /*inherit,*/ fixed;
  width: 100%;
  right: 0;
  bottom: 0;
    background: #B2D430;
/*  background-color: #525050;*/
  text-align: center
  padding: 16rem;
  text-align: center;
}



/*      #unread, #read {
        width: 40%;
        background-color: antiquewhite;
      }
      #unread { float: left; }
      #read { float: right; }
      table, td {
        border-width: 1px;
        border-style: solid;
        border-color: black;
      }
      #wrapper {
        width: 960px;
        padding-top: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      body {
font-family: 'Open Sans', sans-serif;
        background-color: #C0FFEE;
      }
      #results { margin-top: 50px; }
      #userinput { font-size: 24px; }
      input {
        width: 50%;
        height: 36px;
        font-size: 24px;
      }
      footer {
        position: fixed;
        background: #B2D430;
        width: 20px;
        height: 20px;
      }



      
footer {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: #525050;
  text-align: center
  padding: 16rem;
}*/